<!DOCTYPE html>
<html>
<head>
    <title>Chatnoir 2 Cached Webpage</title>
    {{> bootstrap-head}}
    <link href="{{contextPath}}/static/css/chatnoir2.css" rel="stylesheet" />
</head>
<body class="cache-page">
<div id="Main" class="container">

    <div id="CacheResult">
        <iframe src="{{contextPath}}/cache?uuid={{doc-id}}&amp;raw{{#plainTextMode}}&amp;plain{{/plainTextMode}}"></iframe>
    </div>
</div>

{{> jquery-foot}}
{{> bootstrap-foot}}

<script>
    $("#CacheResult iframe").load(function() {
        var el = $(this).contents().find("html");
        var newHeight = el.height() + 20;
        if (newHeight > $("#CacheResult").height()) {
            //$(this).height(newHeight);
        }
    });
</script>
</body>
</html>
