<!DOCTYPE html>
<html>
<head>
    <title>ChatNoir Cached Webpage</title>
    {{> bootstrap-head}}
    {{> chatnoir2-head}}
</head>
<body class="cache-page">
{{> chatnoir2-maintenance}}
<div id="Main" class="container">
    <div id="CacheHeader">
        <div id="LogoWrapper">
            <a rel="home" href="{{contextPath}}/" title="ChatNoir">
                <img id="Logo" src="{{contextPath}}/static/img/chatnoir.svg" alt="ChatNoir Logo">
            </a>
        </div>
        <div id="CacheMeta">
            <h1>Cache Result for document <em>{{uuid}}</em> ({{index}})</h1>
            <p>
                <a href="{{contextPath}}/" class="back">Back to search</a> –
                <a href="{{origUri}}" class="weblink" target="_blank">View original web page</a> –
                <a href="{{contextPath}}/cache?uuid={{uuidUrlEnc}}&amp;index={{index}}" class="html"{{^plainTextMode}} style="display: none"{{/plainTextMode}}>View original HTML</a>
                <a href="{{contextPath}}/cache?uuid={{uuidUrlEnc}}&amp;index={{index}}&amp;plain" class="plaintext"{{#plainTextMode}} style="display: none"{{/plainTextMode}}>View plain text</a>
            </p>
        </div>
    </div>
    <div id="CacheResult">
        <iframe src="{{contextPath}}/cache?uuid={{uuidUrlEnc}}&amp;index={{index}}&amp;raw{{#plainTextMode}}&amp;plain{{/plainTextMode}}"></iframe>
    </div>
</div>

{{> jquery-foot}}
{{> bootstrap-foot}}

<script>
    var meta = $('#CacheMeta');
    var result = $('#CacheResult');
    var iframe = result.find('iframe');

    if (document.referrer && document.referrer.indexOf(location.protocol + "//" + location.host) === 0) {
        meta.find('a.back').attr("href", document.referrer)
    }

    $(iframe).load(function() {
        meta.find('a.plaintext').click(function(e) {
            e.preventDefault();
            iframe.contents().get(0).location.href = this.href + "&raw";
            $(this).hide();
            meta.find('a.html').show();
        });

        meta.find('a.html').click(function(e) {
            e.preventDefault();
            iframe.contents().get(0).location.href = this.href + "&raw";
            $(this).hide();
            meta.find('a.plaintext').show();
        });
    });
</script>
</body>
</html>
