<footer class="footer" id="PageFooter">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-pills col-xs-6">
                <li><a href="{{contextPath}}/doc/terms">Terms</a></li>
                <li><a href="{{contextPath}}/doc/privacy">Privacy</a></li>
                <li class="copyright">Copyright &copy; {{copyrightYear}} Webis</li>
            </ul>
            <ul class="nav nav-pills col-xs-6">
                <li><a href="{{contextPath}}/doc/api">API</a></li>
                <li><a href="{{contextPath}}/doc">Documentation</a></li>
                <li><a href="http://webis.de/">About Webis</a></li>
            </ul>
        </div>
    </div>
</footer>