<link rel="icon" href="{{contextPath}}/static/img/chatnoir-icon-16x16.png" sizes="16x16" type="image/png">
<link rel="icon" href="{{contextPath}}/static/img/chatnoir-icon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="{{contextPath}}/static/img/chatnoir-icon-64x64.png" sizes="64x64" type="image/png">
<link rel="icon" href="{{contextPath}}/static/img/chatnoir-icon-96x96.png" sizes="96x96" type="image/png">
<link rel="icon" href="{{contextPath}}/static/img/chatnoir-icon-180x180.png" sizes="180x180" type="image/png">

<link rel="apple-touch-icon" sizes="76x76" href="{{contextPath}}/static/img/chatnoir-icon-76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{contextPath}}/static/img/chatnoir-icon-120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{contextPath}}/static/img/chatnoir-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{contextPath}}/static/img/chatnoir-icon-180x180.png">

<link href="{{contextPath}}/static/css/chatnoir2.min.css" rel="stylesheet" />