<footer class="footer" id="PageFooter">
    <div class="container-fluid">
        <div class="row webis-footer-row">
            <div class="nav webis-footer">
                Copyright &copy; 2019 <a href="https://webis.de/" class="webis-link">Webis Group</a> <span>&bullet;</span>
                <a href="https://www.uni-weimar.de/en/media/chairs/computer-science-department/webis/people/#bevendorff">Contact</a> <span>&bullet;</span>
                <a href="https://webis.de/impressum.html">Impressum / Privacy Policy</a>
            </div>

            <div class="nav webis-footer">
                <a href="{{contextPath}}/doc">Help</a> <span>&bullet;</span>
                <a href="{{contextPath}}/doc/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>