<!DOCTYPE html>
<html>
<head>
    <title>{{#searchQuery}}{{searchQuery}} – {{/searchQuery}}ChatNoir</title>
    {{> bootstrap-head}}
    {{> chatnoir2-head}}
</head>
<body class="search-page">
    <div id="Main" class="container">
        {{> chatnoir2-search-header }}

        <div class="search-info">
            {{#paginationInfo.numResults}}<div class="num-results">Total results: {{paginationInfo.numResults}} (retrieved in {{queryTime}})</div>{{/paginationInfo.numResults}}
            <h1>Search results {{#resultsFound}}{{paginationInfo.resultsRangeStart}}-{{paginationInfo.resultsRangeEnd}} {{/resultsFound}}for <em>{{searchQuery}}</em></h1>
        </div>

        <section id="SearchResults">
            {{#searchResults}}
                <article class="search-result{{#isGroupingSuggested}} grouped{{/isGroupingSuggested}}" id="result-{{documentId}}"{{#explanation}} data-explanation="{{explanationString}}"{{/explanation}}>
                    <header>
                        <h2><a href="{{contextPath}}/cache?uuid={{documentIdUrlEnc}}{{#indexUrlEnc}}&index={{.}}{{/indexUrlEnc}}">{{& title}}</a></h2>
                        <div class="meta">
                            <a href="{{targetUri}}" class="link">{{#targetHostname}}{{targetHostname}}{{targetPath}}{{/targetHostname}}</a>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" class="result-cache"><a role="menuitem" tabindex="-1" href="{{targetUri}}">Web Link</a></li>
                                    <li role="presentation" class="result-plaintext"><a role="menuitem" tabindex="-1" href="{{contextPath}}/cache?uuid={{documentId}}&amp;index={{index}}&amp;plain">Plaintext</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" class="dropdown-header">Index: {{^displayIndex}}{{index}}{{/displayIndex}}{{displayIndex}}</li>
                                    <li role="presentation" class="dropdown-header">Document ID: {{documentId}}</li>
                                    {{#trecId}}<li role="presentation" class="dropdown-header">TREC ID: {{trecId}}</li>{{/trecId}}
                                    <li role="presentation" class="dropdown-header">Score: {{scoreFormatted}}</li>
                                    <li role="presentation" class="dropdown-header">Page Rank: {{pageRankFormatted}}</li>
                                    <li role="presentation" class="dropdown-header">Spam Rank: {{spamRankFormatted}}</li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation" class="result-explain">
                                    <a role="menuitem" class="result-explain" tabindex="-1" href="{{contextPath}}/?q={{{searchQueryUrlEnc}}}&p={{#currentPage}}{{.}}{{/currentPage}}{{#indices}}&index={{.}}{{/indices}}&explain#result-{{documentId}}">Explain</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    {{^isGroupingSuggested}}{{& snippet}}{{/isGroupingSuggested}}
                </article>
                {{#isMoreSuggested}}
                    <div class="more-from-host">
                        <a href="{{contextPath}}/?q=site:{{targetHostname}}+{{{searchQueryUrlEnc}}}">More results from {{targetHostname}}</a>
                    </div>
                {{/isMoreSuggested}}

            {{/searchResults}}
            {{^searchResults}}
                <div class="no-results">No results found… ;-(</div>
            {{/searchResults}}

            <footer>
                <ul class="pagination">
                    {{#pagination}}
                        <li{{#active}} class="active"{{/active}}>
                                <a href="{{contextPath}}/?q={{{searchQueryUrlEnc}}}&p={{pageNumber}}{{#isExplainMode}}&explain{{/isExplainMode}}{{#indices}}&index={{.}}{{/indices}}" {{#hiddenLabel}} title="{{hiddenLabel}}"{{/hiddenLabel}}>
                                {{label}}{{#ariaHiddenLabel}} <span aria-hidden="true">{{ariaHiddenLabel}}</span>{{/ariaHiddenLabel}}
                                {{#hiddenLabel}} <span class="sr-only">{{hiddenLabel}}</span>{{/hiddenLabel}}
                        </a>
                        </li>
                    {{/pagination}}
                </ul>
            </footer>
        </section>
    </div>


    {{#isExplainMode}}
        <div class="modal fade" id="ExplanationModal" tabindex="-1" role="dialog" aria-labelledby="ExplanationModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">&nbsp;</h4>
                    </div>
                    <div class="modal-body"><div id="ExplanationModalContent">&nbsp;</div></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{/isExplainMode}}

    {{> chatnoir2-page-foot}}

    {{> jquery-foot}}
    {{> bootstrap-foot}}
</body>
</html>
