<div id="SearchField">
    <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="Search" name="q" value="{{searchQuery}}" id="SearchInput">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary input-lg">Go!</button>
        </span>
    </div>
</div>