<footer class="footer" id="PageFooter">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-pills col-xs-6">
                <li><a href="">Copyright</a></li>
                <li><a href="">Privacy</a></li>
            </ul>
            <ul class="nav nav-pills col-xs-6">
                <li><a href="">API</a></li>
                <li><a href="">Documentation</a></li>
                <li><a href="http://webis.de/">About Webis</a></li>
            </ul>
        </div>
    </div>
</footer>