<!DOCTYPE html>
<html>
<head>
    <title>{{title}} - ChatNoir Documentation</title>
    {{> bootstrap-head}}
    {{> chatnoir2-head}}
    <link href="{{contextPath}}/static/css/prism.min.css" rel="stylesheet">
</head>
<body class="search-page">
    <div id="Main" class="container">
        {{> chatnoir2-search-header }}

        {{^isIndex}}
        <section>
            <div class="back-to-index">
                You are here:
                {{#breadcrumbs}}
                    <a href="{{contextPath}}/doc/{{path}}">{{title}}</a> »
                {{/breadcrumbs}}
                {{title}}
            </div>
        </section>
        {{/isIndex}}

        <section id="DocContent">
            {{& content}}
        </section>
    </div>

    {{> chatnoir2-page-foot}}

    {{> jquery-foot}}
    {{> bootstrap-foot}}
    <script src="{{contextPath}}/static/js/prism.min.js"></script>
    <script>
        $("pre > code").each(function() {
            var el = $(this);
            el.html(Prism.highlight(el.text(), Prism.languages.json));
            el.html(el.html().replace(/^(GET|POST) (.+)\n/,
                    '<div class="request"><span class="request-method">$1</span> <span class="request-uri">$2</span></div>'));
        });
    </script>
</body>
</html>
