{{#maintenance}}
<div style="background-color: #cb4625; color: #fff; text-align: center; padding: 1rem;">
    Notice: We are in maintenance right now. Services may temporarily not be fully operational.
</div>
{{/maintenance}}