<!DOCTYPE html>
<html>
<head>
    <title>Chatnoir 2</title>
    {{> bootstrap-head}}
    {{> chatnoir2-head}}
</head>
<body class="index-page">
    <div id="Main" class="container">
        <div id="Logo">
            <a rel="home" href="{{contextPath}}/" title="ChatNoir 2">
                <img src="{{contextPath}}/static/img/chatnoir-logo.png" alt="ChatNoir 2">
            </a>
        </div>
        <form role="search" action="{{contextPath}}/" method="get">
            {{> chatnoir2-search-field }}
        </form>
    </div>

    {{> chatnoir2-page-foot}}

    {{> jquery-foot}}
    {{> bootstrap-foot}}
</body>
</html>
