<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--
        catch all errors which couldn't be handled by our ErrorFilter
        (e.g. method not supported or exceptions which are too low in the stack)
     -->
    <error-page>
        <location>/error</location>
    </error-page>

    <!-- define filter order -->
    <filter-mapping>
        <filter-name>ErrorFilter</filter-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharSetFilter</filter-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaticResourceFilter</filter-name>
    </filter-mapping>
</web-app>